<% provide(:title, 'Home') %>


<h1>Welcome to Album Builder Application</h1>

<center>
<p>Here you can build your own album and can comment over each photo </p>
<%= link_to "View Albums", '#', class: "btn btn-lg btn-primary" %>
<%= link_to "Create Album", '#', class: "btn btn-lg btn-primary" %>
<%= link_to "Upload Photo", '#', class: "btn btn-lg btn-primary" %>
</center>

